<!DOCTYPE html>
<html>
    <link rel='stylesheet' href='/stylesheets/style-index.css' />

<body>
    <div class="content">
        <div class="slider-container">
            <ul class="slider">
                <li id="slide1"><img src="images/Banner/1600338252_757123_1600420348_noticia_normal.jpg" /></li>
            </ul>
        </div>
    </div>
</body>

</html>