<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style-index.css' />
    <title>GAMER M M</title>
</head>
<header>
</header>

<body>
    <div class="juegos">
        <ul class="juegos-list">
            <li>
                <img src="/images/Assassin.jpg" alt="ACV">
                <div class="juegos-description">
                    <div class="deatil-buttons">
                        <a href="/productos">Detalle</a>
                        <a href="">Agregar <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="/images/Assassin odyssey.jpg" alt="ACO">
                <div class="juegos-description">
                    <div class="deatil-buttons">
                        <a href="/productos">Detalle</a>
                        <a href="">Agregar <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>


