<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel='stylesheet' href='/stylesheets/style-layout.css' />
</head>

<body>
  <header>
    <h1>GAMER M M</h1>
    <nav>
      <ul class="nav-menu">
        <li><a href="/index" class="nav-enlace">Inicio</a></li>
        <li><a href="/productos" class="nav-enlace">Productos</a></li>
        <li><a href="/galeria" class="nav-enlace">Galeria</a></li>
        <li><a href="/novedades" class="nav-enlace">Novedades</a></li>
        <li><a href="/contacto" class="nav-enlace">Contacto</a></li>
        <li><a href="/registro" class="nav-enlace">Registrate</a></li>
      </ul>
    </nav>
    <main class="holder">
      {{{body}}}
    </main>
    <footer>
      <div class="principal">
        <div class="links">
          <h2>Enlaces de interes</h2>
          <ul>
            <li><a href="">Politicas de privacidad</i></a></li>
            <li><a href="">Teminos y condiciones</i></a></li>
            <div class="extra">
              <label id="extra">
                <h3>© 2021-2022
              </label></h3>
            </div>
          </ul>
        </div>
        <div class="text">
          <h2>GRACIAS POR VISITAR</h2>
          <h3>GAMER M M</h3>
          <h3>Paga seguro </h3>
          <img src="/images/pinpng.com-mercado-png-4241166.png" />
        </div>
        <div class="social-media-menu">
          <h3>Siguenos en nuestras redes</h3>
          <ul>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="contact">
        <div class="fixed-mail">
          <a href="mailto:mtraiano76@gmail?subject=Asistencia" target="_blank"><i
              class="fa-regular fa-envelope"></i></i></a>
        </div>
        <div class="fixed-wp">
          <a href="https://wa.me/+541132595762" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </footer>
</body>

</html>

