
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style-producto.css' />
</head>
<body>

    <div class="container">
    <div class="card">
        <div class="gib">
            <img src="/images/Assassin.jpg" alt="Assassin Valhalla">
        </div>
        <div class="content">
            <h2>Assassins Creed Valhalla</h2>
            <p> CREA TU PROPIA LEYENDA VIKINGA
                Conviértete en Eivor, un poderoso saqueador vikingo y lidera a tu clan desde las inclementes costas de
                Noruega a un nuevo hogar en medio de las exuberantes tierras de cultivo de la Inglaterra del siglo IX.
                Explora un hermoso y misterioso mundo abierto donde te enfrentarás a brutales enemigos, saquearás
                fortalezas, construirás el nuevo asentamiento de tu clan y forjarás alianzas para conseguir la gloria y
                obtener un lugar en el Valhalla.</p>
        </div>
        <div class="gib">
            <img src="/images/Assassin Odyssey.jpg" alt="Assassin Odyssey">
        </div>
        <div class="content">
            <h2>Assassins Creed Odyssey</h2>
            <p> CREA TU PROPIA LEYENDA VIKINGA
                Conviértete en Eivor, un poderoso saqueador vikingo y lidera a tu clan desde las inclementes costas de
                Noruega a un nuevo hogar en medio de las exuberantes tierras de cultivo de la Inglaterra del siglo IX.
                Explora un hermoso y misterioso mundo abierto donde te enfrentarás a brutales enemigos, saquearás
                fortalezas, construirás el nuevo asentamiento de tu clan y forjarás alianzas para conseguir la gloria y
                obtener un lugar en el Valhalla.</p>
        </div>
    </div>
</div>



    
</body>
</html>



